a {
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
}

h5 {
  color: #031C4E;
}

main p, footer p {
  color: #7B86A0;
}

/* MIX */
/* text colors */
.blue {
  color: #006AFF;
}

.black {
  color: black;
}

.dark_blue {
  color: #031C4E;
}

.white {
  color: white;
}

/* background colors */
.bg_light_grey {
  background-color: #F3F5F9;
}

/**** HEADER ****/
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: white;
}

.logo {
  width: 150px;
}

.header_top a {
  font-size: 16px;
  font-weight: 500;
}

/* hero */
.hero {
  position: relative;
  margin-top: 70px;
  background-color: blue;
}

.hero>.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero_text p {
  font-size: 20px;
  opacity: .8
}

.box_white {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.btn_hero {
  display: inline-block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
}

.btn_blue {
  background-color: #579AFF;
  color: white;
}

.btn_white {
  background-color: white;
  color: #626262;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.btn_google {
  position: relative;
  margin-top: 6px;
}

.logo_google {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  margin-left: 8px;
}

.small {
  font-weight: 500;
  margin-top: 15px;
}

.small a {
  text-decoration: underline;
}

/**** MAIN ****/
/* trust logo section */
#trust_logos {
  padding-top: 30px;
  padding-bottom: 20px;
}

#trust_logos h5 {
  color: #7B86A0;
}

.logo_trust {
  height: 100px;
  max-width: 100%;
}

/* deploy section */
#deploy {}

/* designed section */
#designed {}

#designed .list-inline a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: pink;
}

/**** MEDIA QUERY ****/
@media screen and (min-width: 768px) {
  .hero_text p {
    font-size: 22px;
    opacity: .8
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 58px;
  }
}