a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

h2 {
  font-weight: 700;
}

#features h2, #service h2, #dev_teams h2 {
  margin-bottom: 30px;
}

h5 {
  color: #031C4E;
}

main p, footer p {
  color: #7B86A0;
}

/* text colors */
.blue {
  color: #006AFF;
}

.black {
  color: black;
}

.dark_blue {
  color: #031C4E;
}

.grey {
  color: #7B86A0;
}

.white {
  color: white;
}

/* background colors */
.bg_gradient_blue {
  background: rgb(0, 72, 198);
  background: linear-gradient(184deg, rgba(0, 72, 198, 1) 35%, rgba(0, 30, 154, 1) 100%);
}

.bg_light_grey {
  background-color: #F3F5F9;
}

/* mix */
.font_18 {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.carousel_slide .list-inline li a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #006AFF;
}

.carousel_slide .list-inline li:first-child a {
  background-color: #006AFF
}

.link {
  font-weight: 500;
}

.padding_tb {
  padding-top: 30px;
  padding-bottom: 20px;
}

/**** HEADER ****/
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: white;
}

.logo {
  width: 150px;
}

.header_top a {
  font-size: 16px;
  font-weight: 500;
}

.header_top a:hover {
  color: #006AFF;
}

.header_top .btn:hover {
  background-color: #348FFD;
  color: white;
}

.header_top i {
  margin-left: 2px;
}

.header_top .btn {
  border: 1px solid;
}

/* hero */
.hero {
  position: relative;
  margin-top: 70px;
  background-color: blue;
}

.hero>.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero_text p {
  font-size: 20px;
  opacity: .8
}

.box_white {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.btn_hero {
  display: inline-block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
}

.btn_blue {
  background-color: #579AFF;
  color: white;
}

.btn_white {
  background-color: white;
  color: #626262;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.btn_google {
  position: relative;
  margin-top: 6px;
}

.logo_google {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  margin-left: 8px;
}

.small {
  font-weight: 500;
  margin-top: 15px;
}

.small a {
  text-decoration: underline;
}

/**** MAIN ****/
/* trust logo section */
#trust_logos {}

#trust_logos h5 {
  color: #7B86A0;
}

.logo_trust {
  height: 100px;
  max-width: 100%;
}

/* deploy section */
#deploy {}

.deploy_menu {
  margin-bottom: 30px;
}

.deploy_menu li {
  border-left: 2px solid;
  padding: 11px 7px;
  font-size: 17px;
}

.deploy_menu li:first-child {
  padding-top: 4px;
}

.deploy_menu li:last-child {
  padding-bottom: 4px;
}

.deploy_menu li:hover {
  border-left: 3px solid #006AFF;
  color: #031C4E;
  font-weight: 500;
}

.deploy_items {
  padding-right: 30px;
  margin-bottom: 20px;
}

/* designed section */
#designed {}

#designed .row p {
  margin-top: 15px;
  font-weight: 500;
}

/* features */
#features .row>div {
  margin-bottom: 15px;
}

/* service */
div>.service_list:not(:last-child) {
  border-bottom: 1px solid white;
}

.row>div:first-child>.service_list:last-child {
  margin-bottom: 30px;
}

.service_list li {
  padding-top: 7px;
  padding-bottom: 7px;
}

.service_list .city_code {
  width: 10%;
}

.service_list .city {
  width: 58%;
  padding-left: 25px;
  color: #AEBDE3;
}

.service_list .speed {
  width: 30%;
  text-align: right;
}

.service_list .speed a:hover {
  color: white;
  border-radius: 3%;
  padding: 15px 0;
}

/* dev_teams */
.carousel_text_box {
  min-height: 200px;
  background-color: white;
  padding: 20px;
}

.carousel_text_box img {
  max-height: 50px;
  margin-bottom: 15px;
}

.carousel_text_box>p:first-of-type {
  font-size: 16px;
}

.carousel_text_box span {
  font-weight: 500;
}

.carousel_slide .list-inline {
  margin-top: 15px;
}

/* get_start */
#get_start {
  padding-top: 15px;
  padding-bottom: 35px;
}

#get_start .btn {
  background-color: white;
  color: #006AFF;
  margin-top: 5px;
}

#get_start .btn:hover {
  background-color: #006AFF;
  color: white;
}

/**** FOOTER ****/
footer {
  background-color: #031C4E;
  padding-top: 35px;
  padding-bottom: 35px;
}

footer .row>div {
  margin-bottom: 20px;
}

.footer_logo {
  margin-bottom: 7px;
}

.footer_logo+p {
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 500;
}

.social_logo {
  font-size: 20px;
}

footer .info li:not(.white) {
  padding-top: 5px;
  padding-bottom: 5px;
}

footer .info .white {
  font-size: 16px;
  margin-bottom: 10px;
}

footer .info a {
  font-size: 15px;
}

/**************************
MEDIA QUERY
***************************/
@media screen and (min-width: 768px) {

  /**** HEADER ****/
  /* hero */
  .hero_text p {
    font-size: 22px;
    opacity: .8
  }

  /**** MAIN ****/
  /* designed section */
  .carousel_slide::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f053";
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    cursor: pointer;
  }

  .carousel_slide::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    position: absolute;
    top: 50%;
    right: -7%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    cursor: pointer;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 58px;
  }

  .deploy_menu {
    margin-left: 30%;
  }
}